%h1
  CORE VALUES

%h2
  Mision
%p
  Create solutions for our costumers and be a major contributor to the Open Source community
  
%h2
  Vision
%p
  Ser un equipo de expertos en el ecosistema de ruby y rails, líder a nivel internacional por su calidad, creatividad, excelencia en el servicio y sus aportaciones a la comunidad del software libre.

%h2
  Core Values
%ul
  %li
    %strong
      Merit:
    We are a company that values what you achieve, not what you wear or who you know. 
  %li
    %strong
      Ownership:
    We love it when people take the lead on their tasks and objectives, and aren't satisfied until they are completed. 
  %li
    %strong
      Agility:
    The only constant is change.  We have to evolve continuously to get ahead of the competition.
  %li
    %strong
      Learning:
    The only way to deal with constant change effectively is to make learning a core competency -- and to be better at it than the competition.
  %li
    %strong
      Excellence:
    We hire the best and create an environment of growth so that we can be the best -- not the middle of the pack.
  %li
    %strong
      Happiness:
    No one wants to work at a place that isn't fun.  Creating experiences that foster and build happiness is a core part of making this place great.
  %li
    %strong
      Collaboration:
    It takes true cooperation and sharing among the bright minds here in order to make really great things happen.
  %li
    %strong
      Open Source:
    Contribute to open source is essential to help the community to keep growing and returning the acquired knowledge
    
%h2
  Methodology
%p
  %strong
    Scrum