%h1
  Crowd Levels

%h2
  Level 1 - Trainee
%ul
  %li
    Nuevo en ruby.
  %li
    Entrenamiento en rails.
  %li
    Pair programming con un Crowd Engineer.

%h2
  Level 2 - Crowd Engineer
%ul
  %li
    Participacion en el blog.
  %li
    Juntas con el clientes.
  %li
    Pair programming con un Senior.
  %li
    Crowd coding style.
  %li
    Conocimiento alto en los frameworks que utilizamos.
  %li
    Proactividad, a nivel de sugerencias.

%h2
  Level 3 - Senior Crowd Engineer
%ul
  %li
    Juntas de desiciones con el cliente.
  %li
    Participacion activa en open source.
  %li
    Parches a proyectos importantes.
  %li
    Patrones de diseño.
  %li
    Participacion activa en el blog corporativo y personal.
  %li
    Proactividad a nivel de implementacion, implementa antes de mostrar y presenta resultados comparables.
    
%h2
  Level 4 - Partner Engineer
%ul
  %li
    Atiende conferencias como conferensista.
  %li
    Participacion muy activa en open source.
  %li
    Su palabra representa lo que Crowd piensa.
  %li
    Senior of Seniors Engineer.