%h1
  Crowd Levels

%h2
  Level 1 - Trainee
%ul
  %li
    N00b at Ruby.
  %li
    Rails training.
  %li
    Pair programming with a Crowd Engineer.

%h2
  Level 2 - Crowd Engineer
%ul
  %li
    CI blog contributions.
  %li
    Client meetings.
  %li
    Pair programming with a Senior.
  %li
    Crowd coding style.
  %li
    Deep knowledge of the frameworks we use at CI.
  %li
    Proactivity, suggestions are expected always.

%h2
  Level 3 - Senior Crowd Engineer
%ul
  %li
    Client ‘decision making’ meetings.
  %li
    Active Open Source contributor.
  %li
    Contributions (fixes and new implementations) to important Projects.
  %li
    Design Patterns.
  %li
    Very active blogger (CI and personal).
  %li
    Proactive at implementation (prepares products adequately before showing excellent result reports).
    
%h2
  Level 4 - Partner Engineer
%ul
  %li
    Attends conferences as a Speaker.
  %li
    Very active Open Source contributor.
  %li
    His word is what Crowd Interactive is.
  %li
    Senior of Seniors Engineer.