%h1
  HACKATHON
%p
  This is our first internal hackathon, let's play against ourselves.


%h2
  Objective
%p
  Challenge ourselves, create something, implement an idea, maximize our
  habilities. Learn, improve, and mainly get to know ourselves, our collegues
  and 
  %b our weaknesses


%h2 How to start
%ul
  %li Ask for some idea to David, Esteban or Edwin.
  %li Do you have any idea, implement it, it doesn't matter how crazy it sounds
  %li 
    Do you want to understand some API? Twitter, Foursquare, Google Storage,
    CrowStore, etc?. Then solution is, implement some system consuming that API.


%h2 Need some help?
%p Jorge P, Emmanuel D, and everyone else will be ready to help.


%h2 When
%h3 Starts
%ul
  %li Date: May 12, 2011
  %li Time: From 16:00 Hrs to 20:00 Hrs

%h3 Ends
%ul
  %li Date: May 13, 2011
  %li Time: From 09:00 Hrs to 14:00 Hrs


%h2 Where
%p Crowd Interactive HQ


%h2 Who
%p 
  Every Crowd Interactive member. Jorge P and Emmanuel D will
  fill be filling the assistans lists during the event.


%h2 The Projects ands Its integrants
%p
  Jorge P and Emmanuel D will fill be filling the projects list and its
  integrants during the event.

