%h1
  Ideoton
%p
  Tentative name, it probably will evolve into something that really fits our
  needs.

%h2 When
%h3 Starts
%ul
  %li Date: May 12, 2011
  %li Time: From 16:00 Hrs to 20:00 Hrs

%h3 Ends
%ul
  %li Date: May 13, 2011
  %li Time: From 09:00 Hrs to 14:00 Hrs


%h2 Where
%p Crowd Interactive HQ


%h2 Who
%p Every Crowd Interactive member, designer, developer, project leader etc


%h2
  Objective
%p
  Challenge ourselves, create something, implement an idea, maximize our
  habilities. Learn, improve, and mainly get to know ourselves, our collegues
  and 
  %b our weaknesses


%h2 How to start
%ul
  %li
    Think about this as a idea development day, not only software development.
  %li 
    You may develop some software, analyze
    some library an write and article about it.
  %li 
    Not only software development, you may also create some mockups for your
    idea (designers), implement a web interface using mobile techniques.
  %li
    Create a business plan, customer development plan.
  %li 
    Ask for some idea to David, Esteban or Edwin. Do you have any idea, 
    implement it, it doesn't matter how crazy it sounds.
  %li 
    Do you want to understand some API? Twitter, Foursquare, Google Storage,
    CrowdStore, etc?, then implement some system consuming that API.


%h2 Need some help?
%p Jorge P, Emmanuel D, and everyone else will be ready to help.


%h2 The Projects ands Its integrants
%p
  Jorge P and Emmanuel D will fill be filling the projects list and its
  integrants during the event.

